trigger: none

name: 'azureVM'

resources:
  pipelines:
    - pipeline: tfvars-generate #alias          
      source: tfvars-generate #nazwa pipelinu w ADO           
      trigger: true # trigger jak tamten się skończy to ten uruchamia        

pool:
  name: "Win"
  demands:
    - Agent.Name -equals win
          
parameters: #definicja artefaktu jakny folder/plik
  - name: artifactName
    type: string
    default: tfvars                        

  - name: fileName
    type: string
    default: terraform.tfvars.json

steps:
- task: DownloadPipelineArtifact@2
  inputs:
    buildType: 'specific'
    project: '$(System.TeamProject)'
    definition: 'tfvars-generate'
    runVersion: 'latest' #ostatni run tego 
    artifactName: ${{ parameters.artifactName }} #zmienna z prameters
    targetPath: '$(Pipeline.Workspace)/tfvars' # zapis w agencie


- task: PowerShell@2 #ogolny check pliku, ustawienie zmiennych pipelinów ##vso
  name: CheckTfvars
  displayName: "✅ Sprawdź czy plik tfvars istnieje"
  inputs:
    targetType: 'inline'
    script: |
      $fileName = "${{ parameters.fileName }}"
      $filePath = "$(Pipeline.Workspace)\tfvars\$fileName"

      if (Test-Path $filePath) {
        Write-Host "✅ Znaleziono plik tfvars.json"
        Write-Host "##vso[task.setvariable variable=shouldRunTerraform]true" 
      } else {
        Write-Host "❌ Nie znaleziono pliku tfvars.json"
        Write-Host "##vso[task.setvariable variable=shouldRunTerraform]false"
      }

- script: terraform init
  workingDirectory: infra/
  condition: eq(variables['shouldRunTerraform'], 'true') #wykona się jeśli w tasku wyzej zmienna ustawionma na true
  displayName: "Terraform Init"

- script: terraform plan -var-file="$(Pipeline.Workspace)/tfvars/${{ parameters.fileName }}"
  workingDirectory: infra/
  condition: eq(variables['shouldRunTerraform'], 'true') #wykona się jeśli w tasku wyzej zmienna ustawionma na true
  displayName: "Terraform Plan"

- script: terraform apply -auto-approve -var-file="$(Pipeline.Workspace)/tfvars/${{ parameters.fileName }}"
  workingDirectory: infra/
  condition: eq(variables['shouldRunTerraform'], 'true') #wykona się jeśli w tasku wyzej zmienna ustawionma na true
  displayName: "Terraform Apply"
